<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<head>
    <title>Home Page</title>
</head>

<body>
    {% block content %}
    {{super()}}
    <h2>What baker is voting?</h2>

    <form method="POST">
        {{ form.csrf_token }}
        {% for subfield in form.baker %}
        <div class="d-flex justify-content-center align-items-center cookieOption">
            {{ subfield(class="form-check-input") }}
            {{ subfield.label(class="form-check-label")}}
        </div>
        {% endfor %} 
        <div class="d-flex flex-column justify-content-center align-items-center cookieOption">
            {{form.submit(class_="btn btn-primary submitButton onclick_= validate()")}}
        </div>
    </form>
    {% endblock %}
</body>

</html>