<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<head>
    <title>Home Page</title>
</head>

<body>
    {% block content %}
    {{super()}}
    <h1>Welcome to the Annual <br> Carlile Family <br> Cookie Competition</h1>
    <div class="tagLine">
    <h2>Where we take sibling rivalry too far</h2>
</div>
    <div class="container d-flex mx-auto justify-content-center gap-5">
        <div class="d-grid gap-5 col-5 mx-auto">
        <div class="menuItem">
            <a class="material-icons md-120 buttonIcon w-100 btn btn-lg p-5" href="{{url_for('voting')}}" role="button"><img class="buttonImage" src="https://cdn.discordapp.com/attachments/372536589202620416/1318771111495991336/vote_1.png?ex=676c1a8e&is=676ac90e&hm=0640bf92137ffbf22c7b04f615626cbdae6f6f43fff5d4acedc071dae67c71e8&"></a>
            <a class="w-100 btn btn-lg p-5" href="{{url_for('voting')}}" role="button">Voting</a>
        </div>
        <div class="menuItem">
            <a class="material-icons md-120 buttonIcon w-100 btn btn-lg p-5" href="{{url_for('bakers')}}" role="button"><img class="buttonImage" src="https://cdn.discordapp.com/attachments/372536589202620416/1318776311245832275/image.png?ex=676c1f66&is=676acde6&hm=1ed0bdd37846a2a6d26a1420c56e105ac4c10f653d691fe4cec319c2e705b6b7&"></a>
            <a class="w-100 btn btn-lg p-5" href="{{url_for('bakers')}}" role="button">Baker Voting</a>
        </div>
        <div class="menuItem">
            <a class="material-icons md-120 buttonIcon w-100 btn btn-lg p-5" href="{{url_for('results')}}" role="button"><img class="buttonImage" src="https://cdn.discordapp.com/attachments/372536589202620416/1318776412085424168/image.png?ex=676c1f7e&is=676acdfe&hm=9d934b7ad5cd9d5f255468cc6b01a269052a5c22df884c8ee4e146debb581959&"></a>
            <a class="w-100 btn btn-lg p-5" href="{{url_for('results')}}" role="button">Results</a>
        </div>
        </div>
</div>
    {% endblock %}
</body>

</html>