<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<head>
    <title>Home Page</title>
</head>

<body>
    {% block content %}
    {{super()}}
    <h1>Welcome to the Annual <br> Carlile Family <br> Cookie Competition</h1>
    <h2>Where we take sibling rivalry too far</h2>
    <div class="container d-flex mx-auto justify-content-center gap-5">
        <div class="d-grid gap-5 col-6 mx-auto">
        <div class="menuItem">
            <a class="w-100 btn btn-lg p-5" href="#" role="button">Voting</a>
        </div>
        <div class="menuItem">
            <a class="w-100 btn btn-lg p-5" href="#" role="button">Results</a>
        </div>
        </div>
</div>
    {% endblock %}
</body>

</html>